.tabs {
    position: relative;
}
.tab, .tab-title {
    display: inline-block;
}
.tab input[type="radio"] { display: none; }
.tab-title {
    background: #F2F2F2;
    color: #01A9DB;
    padding: 5px 10px;
    border: 1px solid #666;
    border-bottom: none;
}
.tab-content {
    position: absolute;
    border: 1px solid #666;
    padding: 10px;
    left: 0;
    width: calc(100% - 20px);
    display: none;
}
.tab :checked + .tab-title {
    position: relative;
    background: #fff;
    color: #0431B4;
    top: 1px;
    z-index: 1;
}
.tab :checked ~ .tab-content {
    display: block;
}
.b1 {
    background: #008EB0;
    color: #fff;
    border: none;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.5rem;
}.b2 {
     color: #6E6E6E;
 }
.label, .progress-bar, .progress-block  {
    float: left;
}
.label {
    margin-right: 50px;
}
.progress-block {
    width: 12px;
    height: 12px;
    margin: 2px 1px;
    background-color: #E6E6E6;
}
.progress-block.active {
    background-color: green;
}

